* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: comfortaa;
}

:root {
    --font-w: #ffffff;
    --first: #293FFF;
    --second: #1A65E8;
    --thirth: #1CAAFF;
    --fourth: #3C1AE8;
    --fifth: #801CFF;
}

/* Barra de navegación */

.navBar{
    background-color: var(--first);
    width: 100vw; 
    height: 4rem;
}

.navUl{
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navLi{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navA{
    text-decoration: none;
    color: var(--font-w);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all .6s;
}

.navA:hover{
    background-color:var(--second);
    font-weight: bold;
}

/* fin Barra de navegación */

/*banner*/

.banner{
    width: 100vw;
    height: calc(100vw/100vh)*85;
    background-image: linear-gradient(var(--fifth),var(--fourth));
}

#carrouselBanner{
    width: 95%;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;

}